nav {
    
    color: white;
}

.container {
    margin: 40px;
    /* box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19); */
    width: 50%;
    text-align:left;
  
  padding: 20px;
}
footer{
    text-align: center;
    background: #000;
    color: white;
}